<nav class="navbar navbar-expand navbar-dark bg-dark " *ngIf="user">
     <div class="navbar-nav ">
        
        <a class="navbar-brand" href="/" style="color: bisque">
            <img src="./assets/images/Screensh1.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Welcome - {{user.username | uppercase}}
          </a>
        
         <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
 <a class=' nav-item nav-link ' routerLinkActive='active' routerLink='/hospitalList'>Hospital List</a>
 <a class=' nav-item nav-link ' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/hospitals/0/edit']">Add Hospital</a>
         <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Admins</a>
         <a class="nav-item nav-link" routerLinkActive='active' (click)="logout()">Logout</a>
         
     </div>
 </nav>

 


 
     <div class="app-container" [ngClass]="{ 'bg-light': user }">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
      </div>
      
      
      <div class="text-center mt-4 h6 ">
          <p>
              Arogya Niketan FrontEnd Project Developed Using Angular Cli.
          </p>
          <p>
              <a href="https://github.com/Arogya-Niketan/Arogya-Niketan/tree/Login-And-Registration" target="_top" class="p-2 text-danger">Surya_Pampana</a>
              /
              <a href="https://github.com/Arogya-Niketan/Arogya-Niketan/tree/Login-And-Registration" target="_top" class="p-2">Ajay_Kumar</a>
              /
              <a href="https://github.com/Arogya-Niketan/Arogya-Niketan/tree/Login-And-Registration" target="_top" class="p-2 text-info">Sai_Kashimsha</a>
          </p>
      </div>
    
