<nav class="navbar navbar-expand navbar-dark bg-dark " *ngIf="user">
     <div class="navbar-nav ">

        <a class="navbar-brand" href="/">
            <img src="./assets/images/Screensh1.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Welcome - {{user.username | uppercase}}
          </a>
        
         <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
         <!-- <a class='nav-link text-white' routerLinkActive='active' routerLink='/welcome'>Home</a> -->
 <a class=' nav-item nav-link ' routerLinkActive='active' routerLink='/hospitalList'>Hospital List</a>
 <a class=' nav-item nav-link ' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
 [routerLink]="['/hospitals/0/edit']">Add Hospital</a>
         <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
         <a class="nav-item nav-link" routerLinkActive='active' (click)="logout()">Logout</a>
         
     </div>
 </nav>

 


 
     <div class="app-container" [ngClass]="{ 'bg-light': user }">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
      </div>
      
      
      <div class="text-center mt-4">
          <p>
              <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
          </p>
          <p>
              <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
          </p>
      </div>
