


<div class="card">
  
  
    <div class="card-header h6 text-dark">
      {{pageTitle}}
    </div>
    

    
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">
          <p class="h3 text-secondary">Arogya Niketan is an app which provides the nearest hospitals to the user.</p>
        </div>

        <div class="text-center">
          <img src="./assets/images/image1.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-top:50px;padding-bottom:50px" />
        </div>

        <div class="text-center">
          <img src="./assets/images/image2.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>

        <div class="text-center">
          <img src="./assets/images/image3.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:30px" />
        </div>
  
      </div>
    </div>
  </div>