<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid bg-secondary">
      <a class="navbar-brand h1 text-dark m-2 p-2">
        <img src="\assets\images\Screensh1.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Arogya Niketan
      </a>
    </div>
  </nav> -->

<div class="card">
  <div class="card-header h2 text-center">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="col-md-2 text-danger h6">Filter By Location:</div>
    <div class="clo-md-4">
      <input type="text" [(ngModel)]="listFilter" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-secondary">
        Filtered By Location: {{ listFilter | uppercase }}
      </h6>
    </div>
  </div>

  <div class="table-responsive p-2">
    <table class="table" *ngIf="hospitals.length">
      <thead class="text-primary">
        <tr>
          <th>Id</th>
          <th>Hospital</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Location</th>
          <th>Beds Available</th>
          <th>Ventilation</th>
          <th>CriticalCare Unit</th>
          <th>Isolation Ward</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of filteredHospitals">
          <td>{{ hospital.id }}</td>
          <td class="h6">{{ hospital.hospitalName | uppercase }}</td>
          <td>{{ hospital.phone }}</td>
          <td>{{ hospital.email }}</td>
          <td class="h6">{{ hospital.location }}</td>
          <td class="text-danger">{{ hospital.bedsAvailable }}</td>
          <td class="text-danger">{{ hospital.ventilation }}</td>
          <td class="text-danger">{{ hospital.criticalCareUnit }}</td>
          <td class="text-danger">{{ hospital.isolationWard }}</td>
          <td>
            <button
              style="width: 55px"
              className="btn btn-link"
              class="btn btn-outline-primary"
              style="width: 72px"
              [routerLink]="['/hospitals', hospital.hospitalName]"
            >
              Detail
            </button>

            <!-- <input
                    type="button"
                    value="Detail"
                    className="btn btn-link"
                    class="btn btn-outline-primary"
                    style='width:55px'
                    [routerLink]="['/hospitals', hospital.hospitalName]"
                  /> -->
            /
            <button class="btn btn-outline-dark" style="width: 55px">
              <i class="fa fa-chevron-left"></i> Edit
            </button>
            /
            <button
              className="btn btn-link text-danger"
              class="btn btn-outline-danger"
              style="width: 72px"
            >
              Delete
            </button>
            <!-- <input
                    type="button"
                    value="Delete"
                    className="btn btn-link text-danger "
                    class="btn btn-outline-danger"
                    style='width:60px'
                  /> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
